<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/foundation.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="module/neonword/neonword.css" />
		<script src="js/lib/angular.js"></script>
		<script src="js/lib/jquery.js"></script>
		<script src="js/lib/angular-translate.js"></script>

	</head>

	<body ng-app="nova">
		<div class="row" style="height: 5%;">
			<h3 translate="idiom" class="blueword2 idiom"></h3>
		</div>
		<div class="row" style="height: 90%;text-align: center;" id="bodydiv">
			<iframe id="star" src="part/earth/sun.html" scrolling="no"></iframe>
		</div>
		<div class="row" style="height: 90%;position: absolute;top: 5%;" id="bodydiv">
			<div class="columns small-5">
				<div id="hoster" class="shine_blue starBtn" translate="hoster"></div>
				<div id="resume" class="shine_blue starBtn" translate="resume"></div>
				<div id="experience" class="shine_blue starBtn" translate="experience"></div>
			</div>
			<div class="columns small-5">
				<div id="production" class="shine_blue starBtn" translate="production"></div>
				<div id="blog" class="shine_blue starBtn" translate="blog"></div>
				<div id="other" class="shine_blue starBtn" translate="other"></div>
			</div>
		</div>
		<div class="row" style="height: 5%;" ng-controller="Ctrl" class="ng-scope">
			<div class="columns small-1"><button class="btn ng-scope" ng-click="changeLanguage('chinese')">简体中文</button></div>
			<div class="columns small-1"><button class="btn ng-scope" ng-click="changeLanguage('english')">English</button></div>
			<div class="columns small-8"></div>
		</div>

	</body>
	<script src="js/language/chinese.js"></script>
	<script src="js/language/english.js"></script>
	<script src="js/language/language.js"></script>
	<script src="js/lib/foundation.js"></script>
	<script src="module/magic/js/magic.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).foundation();
		window.onresize = setUI;
		setUI();
		function setUI() {
			var bodyHeight=document.body.clientHeight*0.9;
			$("#bodydiv").height(bodyHeight+"px");
			$(".starBtn").height(bodyHeight*0.1+"px").css("line-height",bodyHeight*0.1+"px").css("font-size",bodyHeight*0.05+"px")
			$("#star").height(bodyHeight * 0.6 + "px").css("margin-top",bodyHeight*0.2-4+"px");
			$("#star").width($("#star").height() + "px");
			$(".starBtn").css("margin-top",bodyHeight*0.1-4+"px");
			$("#hoster").css("margin-top",bodyHeight*0.25-4+"px");
			$("#production").css("margin-top",bodyHeight*0.25-4+"px");
		}
		$(document).ready(function() {
			$(document.body).setMagic({
				color: "rainbow",
				forever: true,
				speed: 0.5,
				forever: true,
				count: 150
			});
		});
	</script>

</html>